html, body {
    height: 100%;
    margin-left: 1%;
    padding: 0;
    font-family: Calibri;
    background-color: rgb(250, 250, 250);
}

body
{
    display: flex;
}

#wypisane_dane_satelit {
    height: 75%;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.satelita {
    background-color: rgb(245, 245, 245);
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 20px;
    width: 300px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
}

.satelita:hover
{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

#canvas_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid #dfdfdf;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    height: 80%;
}

.przycisk
{
    display: block;
    color: white;
    background-color: rgb(137, 143, 255);
    border: none;
    width: 100px;
    height: 30px;
    transition: 0.2s;
}

a
{
    color: black;
    text-decoration: none;
}
.przycisk:hover
{
    background-color: rgb(100, 110, 255);
    cursor: pointer;
}
.przycisk:active
{
    background-color: rgb(80, 90, 255);
}
nav
{
    width: 100%;
    height: 30px;
    text-align: center;
}
nav a
{
    margin-right: 15px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: auto;
    transition: 1s;
    padding: 5px 10px;
}
nav a:hover
{
    background-color: rgb(230, 230, 230);
}
#satelliteChart
{
    width: 95%;
    height: 100%;
}
#pokaz_wykres
{
    width: 110px;
}
#zegar
{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
}
th, td
{
    background-color: rgb(225, 225, 225);
    padding: 4px 8px;
    white-space: nowrap;
}

#wykresy_container
{
    float: left;
}

#tabela_wpolrzednych_container
{
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
    height: 600px;
    overflow-y: auto;
    border: 1px solid #dfdfdf;
    padding: 10px;
    box-sizing: border-box;
}
#containers
{
    display: flex;
}
#kalkulatory_container
{
    display: flex;
}
.kalkulator
{
    margin-left: 10px;
    margin-right: 10px;;
}
  
html, body {
    height: 100%;
    margin-left: 1%;
    padding: 0 0 40px 0;
    font-family: Calibri;
    background-color: rgb(250, 250, 250);
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px; /* adjust as needed */
    z-index: 100;
    background-color: transparent;
}

html, body {
    height: 100%;
    margin-left: 1%;
    padding: 0 0 40px 0;
    font-family: Calibri;
    background-color: rgb(250, 250, 250);
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 100;
    background-color: transparent;
    text-align: center;
    color: rgb(110, 110, 110);
}